body {
  font-family: "Unica One", cursive;
}

/* heading tags styling start*/
h1 {
  font-family: "Comforter", cursive;
  font-size: 10rem;
}

h2 {
  font-family: "Comforter", cursive;
  font-size: 9.5rem;
}

h3 {
  font-family: "Comforter", cursive;
  font-size: 9rem;
}

h4 {
  font-family: "Comforter", cursive;
  font-size: 8.5rem;
}

h5 {
  font-family: "Comforter", cursive;
  font-size: 8rem;
}

h6 {
  font-family: "Comforter", cursive;
  font-size: 7.5rem;
}

/* heading tags styling end */

/* styling classes start */
.rainbow-gradient {
  width: fit-content;
  margin: 0px;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* styling classes end */
